<?xml version="1.0" encoding="UTF-8"?>

<ruleset name="PetWatcher coding standard">
    <description>PetWatcher coding standard</description>

    <!-- Display progress -->
    <arg value="p"/>
    <!-- Use colors in output -->
    <arg name="colors"/>

    <!-- Inherit rules from: -->
    <rule ref="PSR1"/>
    <rule ref="PSR12"/>

    <!-- Paths to check -->
    <file>./app/</file>
    <file>./public/</file>
    <file>./src/</file>
    <file>./tests/</file>
</ruleset>
